# Rust
/target
/Cargo.lock

# ESP build
/.embuild
sdkconfig
sdkconfig.old

# JetBrains
/.idea
/.vscode
/.env
/python

# Python
venv/
.venv/
__pycache__/
*.pyc

# System
.DS_Store

# Other
text.txt
*.db