<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Dashboard</title>
   <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
   <div class="container">
      <h2>Sensor Control Panel</h2>
      <table>
         <thead>
         <tr>
            <th>Devide parameter</th>
            <th>Current value</th>
            <th>Min value</th>
            <th>Max value</th>
            <th>Status</th>
         </tr>
         </thead>
         <tbody id="home-table-body"></tbody>
      </table>

      <div class="actions">
         <button onclick="window.location.href='/settings'" class="btn">Settings</button>
      </div>
   </div>

   <script src="/scripts/script.js"></script>
</body>
</html>